<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simpstagram</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <nav class="navbar is-primary">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/" style="font-weight:bold;">
              Simpstagram
            </a>
            <span class="navbar-burger burger" data-target="navMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>

          <div id="navMenu" class="navbar-menu">
            <div class="navbar-end">
              <a href="/" class="navbar-item is-active">Home</a>
              <a href="/about" class="navbar-item">About</a>
              <a href="/posts/new" class="navbar-item">Post</a>
              <a href="/posts" class="navbar-item">Feed</a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  <i class="far fa-user"></i>
                </a>
                <div class="navbar-dropdown">
                  <a href="/" class="navbar-item">
                    Dashboard
                  </a>
                  <% if (locals.isLoggedIn) { %>
                    <a href="/profile/<%= locals.currentUser._id %>" class="navbar-item">
                      Profile
                    </a>
                    <a href="/logout" class="navbar-item">
                      Log Out
                    </a>
                    <% } else { %>
                      <a href="/login" class="navbar-item">
                        Log In
                      </a>
                      <a href="/register" class="navbar-item">
                        Sign Up
                      </a>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <%- body %>

    <footer>
      <p>Made with 🍩 by Professor Frink</p>
    </footer>
  </body>
</html>
