.navbar {
  height: 77px;
  margin-bottom: 20px;
}

.card {
  padding: 25px;
  margin-top: 25px;
}

.profileCard {
  margin: 10px;
}

.bioCard {
  margin-top: -10px;
  padding: 0px 10px;
  border: 1px solid lightgray;
}

.exploreBio {
  width: 100%;
  height: 120px;
}

.mainLogo {
  height: 70px;
}

.comment-buttons {
  height: 5px;
  margin: 5px;
}
